b{cursor: pointer;}
.popUpButton{
    background-color:transparent;
    border: none;
}
.button--black {
    background-color: #232323
}

.button--black:hover,
.button--black:active {
    background-color: #3d3d3d
}

.button--outline {
    background-color: #fff;
    border-color: #fe5f1e
}

.button--outline,
.button--outline span {
    color: #fe5f1e
}

.button--outline svg path {
    fill: #fe5f1e
}

.button--outline:hover {
    background-color: #fe5f1e
}

.button--outline:hover,
.button--outline:hover span {
    color: #fff
}

.button--outline:hover svg path {
    fill: #fff
}

.button--outline:active {
    background-color: #f24701
}

.button__delimiter {
    width: 1px;
    height: 25px;
    background-color: rgba(255, 255, 255, 0.25);
    margin-left: 14px;
    margin-right: 14px
}

.button--add svg {
    margin-right: 2px
}

.button--add span {
    font-weight: 600;
    font-size: 16px
}

.button--add:hover i {
    background-color: #fff;
    color: #fe5f1e
}

.button--add i {
    display: inline-block;
    border-radius: 30px;
    background-color: #fe5f1e;
    color: #fff;
    font-weight: 600;
    width: 22px;
    height: 22px;
    font-style: normal;
    font-size: 13px;
    line-height: 22px;
    position: relative;
    top: -1px;
    left: 3px
}

.button--cart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    line-height: 23px;
    padding: 12px 25px
}

.button--cart svg {
    margin-right: 8px;
    margin-bottom: 1px
}

.button--cart span {
    font-weight: 600;
    font-size: 16px
}

.categories ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.categories ul li {
    background-color: #f9f9f9;
    padding: 13px 30px;
    border-radius: 30px;
    margin-right: 10px;
    font-weight: bold;
    cursor: pointer;
    -webkit-transition: background-color 0.1s ease-in-out;
    transition: background-color 0.1s ease-in-out;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}
.categories ul li button{
    background-color:transparent;
    border:none;
}

.categories ul li:hover {
    background-color: #f4f4f4
}

.categories ul li:active {
    background-color: #ececec
}

.categories ul li.active {
    background-color: #282828;
    color: #fff
}

.sort {
    position: relative
}

.sort__label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.sort__label svg {
    margin-right: 8px
}

.sort__label b {
    margin-right: 8px
}

.sort__label span {
    color: #fe5f1e;
    border-bottom: 1px dashed #fe5f1e;
    cursor: pointer
}

.sort__popup {
    position: absolute;
    right: 0;
    margin-top: 15px;
    background: #ffffff;
    -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    overflow: hidden;
    padding: 10px 0;
    width: 160px
}

.sort__popup ul {
    overflow: hidden
}

.sort__popup ul li {
    padding: 12px 20px;
    cursor: pointer
}

.sort__popup ul li.active,
.sort__popup ul li:hover {
    background: rgba(254, 95, 30, 0.05)
}

.sort__popup ul li.active {
    font-weight: bold;
    color: #fe5f1e
}